.card {
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
  border-radius: 2%;
  width: 250px;
  height: 320px;
  margin-bottom: 50px;
}

.card img {
  width: 75%;
  margin: 10px auto;
  margin-left: 28px
}

.card h3, .card p {
  margin: 25px 30px;
}

.card p {
  color: darkgrey;
}
